// 命名规则 与衣服的尺寸相对于 xl(非常浅) l(浅) nromal(正常) d(深) xd(非常深)

$brand: #ff4d4d; // 品牌色
$lBrand: #ff9b9b; // 浅品牌色

$red: #fb7171; // 红色
$lRed: #fdb1b1; // 浅红
$xlRed: #fdb1b1; // 非常浅红

$green: #2dc888; // 绿色
$lGreen: #89e0bc; // 浅绿色

$blue: #488ff9; // 蓝色
$lBlue: #98c0fb; // 浅蓝色

$yellow: #ffa400; // 黄色
$lYellow: #ffcc70; // 浅黄色

$violet: #8d71ff; // 紫色
$lViolet: #beafff; // 浅紫色

$orange: #ff8022; // 橙色
$lOrange: #ffb883; // 橙色

$brown: #c09040; // 尊贵色
$lBrown: #dbc093; // 浅尊贵色
$xlBrown: #dbc093; // 非常浅尊贵色

$link: #2e58d6;
$lLink: #91a6e5;
$success: #2dc888;
$lSuccess: #89e0bc;
$warning: #ffa400; // 提示
$caution: #f53939; // 警示
$invalid: #cbcfd6;

$black: #000000;      // 黑色 页面强调
$dark: #262a30;       // 正文
$xdGray: #5c626b;     // 弱正文
$dGray: #959ba3;      // 辅助文字
$gray: #cbcfd6;       // 无效色，引导文字
$lGray: #e9ecf0;      // 边框，分割线
$xlGray: #f7f8f9;     // 背景色
$xxlGray: #f7f8f9;    // 侧导航背景色
$white: #ffffff;      // 白色

$bgHover: #f4f6fd; // table hover 色