@import "../variable/color";

.c-brand {
  color: $brand;
}

.c-l-brand {
  color: $lBrand;
}

.bgc-brand {
  background-color: $brand;
}

.bgc-l-brand {
  background-color: $lBrand;
}

.c-red {
  color: $red;
}

.bgc-red {
  background-color: $red;
}

.c-l-red {
  color: $lRed;
}

.bgc-l-red {
  background-color: $lRed;
}

.c-xl-red {
  color: $xlRed;
}

.bgc-xl-red {
  background-color: $xlRed;
}


.c-green {
  color: $green;
}

.bgc-green {
  color: $green;
}

.c-l-green {
  color: $lGreen;
}

.bgc-l-green {
  color: $lGreen;
}

.c-blue {
  color: $blue
}

.bgc-blue {
  color: $blue;
}

.c-l-blue {
  color: $lBlue
}

.bgc-l-blue {
  color: $lBlue;
}

.c-yellow {
  color: $yellow;
}

.bgc-yellow {
  color: $yellow;
}

.c-l-yellow {
  color: $lYellow;
}

.bgc-l-yellow {
  color: $lYellow;
}

.c-violet {
  color: $violet;
}

.bgc-violet {
  color: $violet;
}

.c-l-violet {
  color: $lViolet;
}

.bgc-l-violet {
  color: $lViolet;
}

.c-orange {
  color: $orange;
}

.bgc-orange {
  color: $orange;
}

.c-l-orange {
  color: $lOrange;
}

.bgc-l-orange {
  color: $lOrange;
}

.c-brown {
  color: $brown;
}

.bgc-brown {
  background-color: $brown;
}

.c-l-brown {
  color: $lBrown;
}

.bgc-l-brown {
  background-color: $lBrown;
}

.c-xl-brown {
  color: $xlBrown;
}

.bgc-xl-brown {
  background-color: $xlBrown;
}

.c-link {
  color: $link;
}

.bgc-link {
  background-color: $link;
}

.c-success {
  color: $success;
}

.bgc-success {
  background-color: $success;
}

.c-warning {
  color: $warning;
}

.bgc-warning {
  background-color: $warning;
}

.c-caution {
  color: $caution;
}

.bgc-caution {
  background-color: $caution;
}

.c-invalid {
  color: $invalid;
}

.bgc-invalid {
  background-color: $invalid;
}

.c-black {
  color: $black;
}

.bgc-black {
  background-color: $black;
}

.c-dark {
  color: $dark;
}

.bgc-dark {
  background-color: $dark;
}

.c-xd-gray {
  color: $xdGray;
}

.bgc-xd-gray {
  background-color: $xdGray;
}

.c-d-gray {
  color: $dGray;
}

.bgc-d-gray {
  background-color: $dGray;
}

.c-gray {
  color: $gray;
}

.bgc-gray {
  background-color: $gray;
}

.c-l-gray {
  color: $lGray;
}

.bgc-l-gray {
  background-color: $lGray;
}

.c-xl-gray {
  color: $xlGray;
}

.bgc-xl-gray {
  background-color: $xlGray;
}

.c-xxl-gray {
  color: $xxlGray;
}

.bgc-xxl-gray {
  background-color: $xxlGray;
}

.c-white {
  color: $white;
}

.bgc-white {
  background-color: $white;
}
